BasedOnStyle: Google  // Google风格
BreakBeforeBraces: Attach // 大括号不换行
AllowShortIfStatementsOnASingleLine: true  // 单行if不换行
ColumnLimit: 120  // 列宽
IndentWidth: 4  // 缩进长度
PointerAlignment: Left // 指针`*`左对齐
SortIncludes: false // 不对include排序
IndentCaseLabels: true // case缩进